singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cancergenetics/Abe/:/var/spool/mail --bind /gpfs/data/datasets/kraken/:/var/spool/kraken"
}

process {
  withName:bam_filter{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}

process {
  withName:trimmomatic{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}

process {
  withName:bbduk{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}

process {
  withName:kraken_paired{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}

process {
  withName:threshold{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}

process {
  withName:report{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/sepath_latest.sif'
    }
}
