// Bait intervals (for exome-seq)

env.bait_interval  = "$baseDir/input/bait/SeqCap_EZ_Exome_v3_hg38_capture_targets.bed"
env.target_interval = "$baseDir/input/bait/SeqCap_EZ_Exome_v3_hg38_primary_targets.bed"
env.haplotypecaller_bed = "/var/spool/mail/bait_capture_files/SeqCapEZ_Exome_v3.0_Design_Annotation_files/hg38/SeqCap_EZ_Exome_v3_hg38_primary_targets.bed"
// probs dont need haplo bed...


// File binds required by pipeline1
env.cgpmap_genome = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv.tar.gz"
env.cgpmap_index = "/var/spool/mail/cgpwgs_ref/GRCh38/bwa_idx_GRCh38_hla_decoy_ebv.tar.gz"
env.genome_fasta = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa"
env.genome_index = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa.fai"
env.verifybamid = "/var/spool/mail/hg38/1000g/ALL.wgs.shapeit2_integrated_v1a.GRCh38.20181129.sites_EUROPE_AF.vcf"

// Will load these config files additionally. Will give error if not present.
includeConfig "../germline/freebayes/freebayes.config"
includeConfig "../germline/gatk/gatk_hg38.config"
includeConfig "../somatic/cgpwxs/cgp_hg38.config"
includeConfig "../germline/variant_processing/germline_process.config"

// Singularity options ahd binds
singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes/:/var/spool/mail"
}

//VEP binds
env.VEP_files = "/var/spool/mail/VEP_hg38/.vep"


// Options for the executors

executor {
  $slurm {
    queueSize = 6
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 5sec'
  }
}

// Connects which processes are using which containers.

executor {
  $slurm {
    queueSize = 5
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 3Smin'
  }
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 3min'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 5sec'
  }
}


// Connects which processes are using which containers.

process {
  withName:cgpMAP {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/cgpmap_3.0.0.img'
    }
  withName:trim_galore {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:fqtools {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:sam_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:picard_pcr_removal {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
    withName:bam_index {
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      queue = 'compute-16-64'
      }
  withName:collect_insert_size {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:hybrid_stats {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:alignment_stats {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:verifybamid {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    queue = 'compute-16-64'
    }
  withName:somalier {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    executor = 'slurm'
    }
  withName:merge_caller_indels {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:indels_filter {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:indels_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:VEP2 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:vep_header {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:merge_caller_snps {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:snps_filter {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:snps_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:VEP3 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
  withName:vep_header2 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    queue = 'compute-16-64'
    }
}
