
// File binds required by pipeline1
env.cgpmap_genome = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv.tar.gz"
env.cgpmap_index = "/var/spool/mail/cgpwgs_ref/GRCh38/bwa_idx_GRCh38_hla_decoy_ebv.tar.gz"
env.genome_fasta = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa"
env.genome_index = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa.fai"
env.verifybamid = "/var/spool/mail/hg38/1000g/ALL.wgs.shapeit2_integrated_v1a.GRCh38.20181129.sites_EUROPE_AF.vcf"

// Will load these config files additionally. Will give error if not present.
includeConfig '../germline/freebayes/freebayes.config'
includeConfig '../germline/gatk/gatk_hg38.config'


// Singularity options ahd binds
singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes/:/var/spool/mail"


// Options for the executors
}
executor {
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
    }
    $lsf {
      queueSize = 10
      errorStrategy = 'retry'
      maxRetries = 5
      submitRateLimit = '1 / 2min'
    }
    $local{
      queueSize = 100
      errorStrategy = 'retry'
      maxRetries = 5
      submitRateLimit = '1 / 5sec'
    }
}

// Connects which processes are using which containers.

process {
  withName:trim_galore|fqtools|sam_sort|picard_pcr_removal|bam_index|collect_insert_size|hybrid_stats|alignment_stats|verifybamid|somalier
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'lsf'
    memory = '65 GB'
    queue = 'short-ib'
    cpus = 5
}

process {
  withName:cgpMAP
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/cgpmap_3.0.0.img'
    executor = 'lsf'
    memory = '65 GB'
    queue = 'short-ib'
    cpus = 5
}
