
params.normal = ["PD13382b","PD13389b","PD13399a"]
params.tumor = ["PD13382a","PD13389a","PD13399a"]


// File binds required by pipeline1
env.cgpmap_genome = "/var/spool/mail/hg19_GRCh37d5/GRCh37d5/core_ref_GRCh37d5.tar.gz"
env.cgpmap_index = "/var/spool/mail/hg19_GRCh37d5/GRCh37d5/bwa_idx_GRCh37d5.tar.gz"
env.genome_fasta = "/var/spool/mail/hg19_GRCh37d5/GRCh37d5/core_ref_GRCh37d5/genome.fa"
env.genome_index = "/var/spool/mail/hg19_GRCh37d5/GRCh37d5/core_ref_GRCh37d5/genome.fa.fai"
env.verifybamid = "/var/spool/mail/" // NEEDS FILES!

// Will load these config files additionally. Will give error if not present.
includeConfig "../germline/freebayes/freebayes.config"
includeConfig "../germline/gatk/gatk_hg19.config"
includeConfig "../somatic/cgpwxs/cgp_hg19.config"

// Singularity options ahd binds
singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes/:/var/spool/mail"
}

// Options for the executors

executor {
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
  }
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 5sec'
  }
}


// Connects which processes are using which containers.

process {
  withName:cgpMAP {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/cgpmap_3.0.0.img'
    executor = 'slurm'
    memory = '20 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
  withName:trim_galore {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '8 GB'
    queue = 'compute-16-64'
    cpus = 2
    }
  withName:fqtools {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '4 GB'
    queue = 'compute-16-64'
    cpus = 1
    }
  withName:sam_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:picard_pcr_removal {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
    withName:bam_index {
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '16 GB'
      queue = 'compute-16-64'
      cpus = 4
      }
  withName:collect_insert_size {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '40 GB'
    queue = 'compute-16-64'
    cpus = 1
    }
  withName:hybrid_stats {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:alignment_stats {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '40 GB'
    queue = 'compute-16-64'
    cpus = 1
    }
  withName:verifybamid {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:somalier {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:merge_caller_indels {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:indels_filter {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:indels_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:VEP2 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:vep_header {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:merge_caller_snps {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:snps_filter {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:snps_sort {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:VEP3 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:vep_header2 {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    memory = '16 GB'
    queue = 'compute-16-64'
    cpus = 4
    }
  withName:cgpwxs2 {
    executor = 'slurm'
    memory = '50 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
}
