// GATK hg38 config file

// GATK Known sites
env.GATK_dbsnp138 = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/dbsnp_138.b37.vcf.gz"
env.GATK_1000G = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/1000G_phase1.snps.high_confidence.b37.vcf.gz"
env.GATK_mills = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
env.GATK_hapmap = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/hapmap_3.3.b37.vcf.gz"


// GATK Panel of Normals for Mutect2
env.Mutect2_germline = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/mutect2/somatic-b37_af-only-gnomad.raw.sites.vcf"
env.Mutect2_PoN = "/var/spool/mail/hg19_GRCh37d5/GATK_rosource/mutect2/somatic-b37_Mutect2-exome-panel.vcf"


process {
  withName:BaseRecalibrator|haplotypeCaller|CNNscoreVariants|FilterVariantTranches|zip|merge_vcf|collect_vcf|bcf_index{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
}
