// GATK hg38 config file

// GATK Known sites
env.GATK_dbsnp138 = "/var/spool/mail/hg38/GATK/germline_resource/Homo_sapiens_assembly38.dbsnp138.vcf"
env.GATK_1000G = "/var/spool/mail/hg38/GATK/germline_resource/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
env.GATK_mills = "/var/spool/mail/hg38/GATK/germline_resource/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
env.GATK_hapmap = "/var/spool/mail/hg38/GATK/germline_resource/hapmap_3.3.hg38.vcf.gz"

// GATK Panel of Normals for Mutect2  somatic-hg38_1000g_pon.hg38.vcf
env.Mutect2_germline = "/var/spool/mail/hg38/GATK/GATK_pon_germline_resource_hg38/somatic-hg38_af-only-gnomad.hg38.vcf"
env.Mutect2_PoN = "/var/spool/mail/hg38/GATK/GATK_pon_germline_resource_hg38/somatic-hg38_1000g_pon.hg38.vcf"


process {
  withName:BaseRecalibrator{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:haplotypeCaller{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.2.0.img'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:CNNscoreVariants{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.2.0.img'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:FilterVariantTranches{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.2.0.img'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:merge_vcf{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:collect_vcf{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
  withName:bcf_index{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '45 GB'
    queue = 'compute-24-96'
    cpus = 5
    }
}
