//Profile config names for nf-core/configs
params {
  config_profile_description = 'The UEA HPC (ADA) cluster profile'
  config_profile_contact = 'Ryan Cardenas | Daniel Brewer'
  config_profile_url = 'https://uea-med-pipelines.netlify.app/'
}

singularity {
  beforeScript = 'module add singularity'
  enabled = true
  autoMounts = true
}

executor {
  queueSize=15
  maxRetries = 5
  submitRateLimit = '1 / 2min'
  queue = 'compute-24-128'
}

process {
  executor = 'slurm'
}

executor {
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
    queue = 'compute-24-128'
  }
  $slurm {
    queueSize = 10
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 2min'
    queue = 'compute-24-128'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 5sec'
  }
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 60.GB
  max_cpus = 5
  max_time = 168.h
}
