process {
  withName:merge_caller_indels{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    }
    withName:indels_filter{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      }
    withName:indels_sort{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:merge_caller_snps{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:snps_filter{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:snps_sort{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:merge_family_indels{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:merge_fam_snps{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'

      }
    withName:functotator{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk_4.1.9.0.sif'
      executor = 'slurm'
      }
    withName:functotator2{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk_4.1.9.0.sif'
      executor = 'slurm'
      }
}
