process {
  withName:merge_caller_indels{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
    withName:indels_filter{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:indels_sort{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:merge_caller_snps{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:snps_filter{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:snps_sort{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:merge_family_indels{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
    withName:merge_fam_snps{
      container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
      executor = 'slurm'
      memory = '65 GB'
      queue = 'compute-16-64'
      cpus = 5
      }
}
