// cgp CONFIG both WXS and WGS for GRCh37d5

// reference files
env.cgp_ref = "/var/spool/ref/cgpwgs_ref/GRCh37d5/core_ref_GRCh37d5.tar.gz"
env.cgp_annot = "/var/spool/ref/cgpwgs_ref/GRCh37d5/VAGrENT_ref_GRCh37d5_ensembl_75.tar.gz"
env.cgp_snv_indel = "/var/spool/ref/cgpwgs_ref/GRCh37d5/SNV_INDEL_ref_GRCh37d5-fragment.tar.gz"
env.cgp_CNV = "/var/spool/ref/cgpwgs_ref/GRCh37d5/CNV_SV_ref_GRCh37d5_brass6+.tar.gz"
env.cgp_QC = "/var/spool/ref/cgpwgs_ref/GRCh37d5/qcGenotype_GRCh37d5.tar.gz"
