process {
  withName:'Freebayes|vcf_filter|zip|combine_gvcf|bam_index'
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
}


process {
  withName:Freebayes{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
  withName:vcf_filter{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
  withName:zip{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
  withName:combine_gvcf{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
  withName:bam_index{
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/freebayes_bundle.simg'
    executor = 'slurm'
    memory = '65 GB'
    queue = 'compute-16-64'
    cpus = 5
    }
}
